<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">


    <filter>
        <filter-name>ReqRespLogger</filter-name>
        <filter-class>org.hccp.http.test.filter.ReqRespLogger</filter-class>
    </filter>
<!--
    <filter-mapping>
        <filter-name>ReqRespLogger</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
-->
    <servlet>
        <servlet-name>postest</servlet-name>
        <servlet-class>org.hccp.http.test.servlet.PostTest</servlet-class>
        <multipart-config>
            <max-file-size>10485760</max-file-size>
            <max-request-size>20971520</max-request-size>
            <file-size-threshold>5242880</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>diff</servlet-name>
        <servlet-class>org.hccp.http.test.servlet.PostDiff</servlet-class>
        <multipart-config>
            <max-file-size>10485760</max-file-size>
            <max-request-size>20971520</max-request-size>
            <file-size-threshold>5242880</file-size-threshold>
        </multipart-config>
    </servlet>


    <servlet-mapping>
        <servlet-name>postest</servlet-name>
        <url-pattern>/uploadtest/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>diff</servlet-name>
        <url-pattern>/diff/*</url-pattern>
    </servlet-mapping>


</web-app>